*{
    margin: 0px;
    font-family: Candara;
}

header{
    background-color: rgb(76, 6, 240);
    padding-top: 1rem;
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
nav{
    margin-top: 1rem;
    height: 1.rem;
    width: 100%;
    border-radius: 5%;
    text-align: center;
    background-color: rgb(1, 1, 1);
    text-decoration: none;
}
body{
    background-color: rgba(255, 255, 255, 0.139);
    text-align:center;    

}
table, tr ,td , th {
    background-color: rgb(119, 11, 11);
    text-align: center;
    table-layout: unset;
    border: solid;
    border-collapse: collapse;
    text-align: center;
}
h1 {
    text-align: center;
    font-family:"Sofia", sans-serif;
}
h2 {
    text-align: center;
    font-family:"Sofia", sans-serif;
}

h3 {
    text-align: center;
}
/*Class*/
.lista {
    text-decoration: none;
    text-align: center;
    color:rgb(255, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.linha {
    border-top: 1px solid black;
}
.link a{
    text-align: center;
    font-size: 24px;
    text-transform: lowercase;
    color:rgb(0, 0, 0);
    font-family:"Sofia", sans-serif;  
}
.link a {
    margin-top: 1rem;
    height: 1.rem;
    width: 100%;
    border-radius: 5%;
    text-align: center;
    background-color: rgb(255, 0, 0);
    text-decoration: none;
}
/*ID*/
#Visão {
    text-align: justify;
    font-size: 18px;
    padding: 20px;
}
#link a 
{
    margin-top: 1rem;
    height: 1.rem;
    width: 100%;
    border-radius: 5%;
    text-align: center;
    background-color: rgb(255, 0, 0);
    text-decoration: none;
}